
*{
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(152, 124, 214);
    border-color: rgb(107, 82, 163);
    font-weight: bold;
}
body{
    padding: 30px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.Container{
    width: 80%;
    height: 85%;
    min-width: 650px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    overflow: hidden;
}
.searchbar-light-dark-mode{
    display: flex;
    width: 90%;
    gap: 1%;
    justify-content: center;
}
form{
    width: 25%;
    height: 100%;
}
#location{
    border-style: solid;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    border-color: black;
}
.description-of-weather{
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 6%;
}
.brief-description{
    width: 85%;
    text-align:center;
    font-size: 1.8rem;
    font-style: italic;
}
.current-weather-details{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    gap: 4%;
}
.main-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 32%;
}
.main-temp{
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    height: 99%;
    width: 32%;
}
.additional-data{
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 32%;
}
.wind-data{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 10%;

}
.rain-data{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 10%;

}
.humidity-data{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 10%;

}
.bigicon{
    width: 70%;
    min-width: 140px;
}
.todays-temp{
    font-size: 6.2rem;
    margin-left: 12%;
    font-weight: 500;
    color: rgb(120, 92, 179);
}
.todays-min-max{
    font-size: 1.15rem;
    margin-left: 6%;
}


.smallicon{
    width: 20%;
    min-width: 40px;
}
.four-day-forecast{
    width: 65%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
}
.forecasticon{
    width: 30%;
    min-width: 35px;
}
.day1, .day2, .day3, .day4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.temp-conversion{
    width: 15%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    overflow: hidden;
}
#fahrenheit{
    margin-right: 6%;

}
#celsius{
    margin-left: 3%;
}
#fahrenheit:hover, #celsius:hover{
    cursor: pointer;
}
.separator{
    font-size: 1.6rem;
}
.gray{
    color: rgb(175, 175, 175);
}
.searchButton{
    width: 28px;
}
.searchButton:hover{
    cursor: pointer;
}

/*
img{
    filter:contrast(150%);
}
